.form{
    border: 1px solid blue;
    padding: 2rem 10rem;
    margin: 2rem 10rem;
    box-sizing: border-box;
}
.field{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-flow: column;
    gap: 1rem;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-flow: column;
}

.label.input{
    border: .5rem solid blue
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-flow: column;
}