<div class="form-wrapper">

  <span class="corner tl"></span>
  <span class="corner tr"></span>
  <span class="corner bl"></span>
  <span class="corner br"></span>

  <div class="panel-header">
    <span class="brand">S.A.M.</span>
    <span class="badge">NUEVA MÚSICA</span>
  </div>

  <h2 class="panel-title">REGISTRAR MÚSICA</h2>
  <p class="panel-desc">Añade un enlace de YouTube a la plataforma.</p>

  @if (successMsg) {
  <div style="color: #a3e635; margin-bottom: 10px; font-size: 12px;">✔ {{ successMsg }}</div>
  }
  @if (errorMsg) {
  <div style="color: #ff4444; margin-bottom: 10px; font-size: 12px;">❌ {{ errorMsg }}</div>
  }

  <form class="admin-form" [formGroup]="formData" (ngSubmit)="onSubmit()">


    <div class="field">
      <label class="field-label" for="name">Nombre</label>
      <input class="field-input" type="text" id="name" formControlName="name" placeholder="Ej: xxxxxxxxxxx">
      @if (formData.get('name')?.invalid && (formData.get('name')?.dirty || formData.get('name')?.touched)) {
      @if (formData.get('name')?.errors?.['required']) {
      <small class="field-error">El nombre es obligatorio</small>
      }
      }
    </div>


    <div class="field">
      <label class="field-label" for="artist">Artista</label>
      <input class="field-input" type="text" id="artist" formControlName="artist" placeholder="Ej: xxxxxxxxxxx">
      @if (formData.get('artist')?.invalid && (formData.get('artist')?.dirty || formData.get('artist')?.touched)) {
      @if (formData.get('artist')?.errors?.['required']) {
      <small class="field-error">El Artista es obligatorio</small>
      }
      }
    </div>


    <div class="field">
      <label class="field-label" for="genre">Genero</label>
      <input class="field-input" type="text" id="genre" formControlName="genre" placeholder="Ej: Techno">
      @if (formData.get('genre')?.invalid && (formData.get('genre')?.dirty || formData.get('genre')?.touched)) {
      @if (formData.get('genre')?.errors?.['required']) {
      <small class="field-error">El genero es obligatorio</small>
      }
      }
    </div>



    <div class="field">
      <label class="field-label" for="imageUrl">URL de la imagen</label>
      <input class="field-input" type="text" id="imageUrl" formControlName="imageUrl"
        placeholder="Ej: https://www.youtube.com/watch?v=...">
      @if (formData.get('imageUrl')?.invalid && (formData.get('imageUrl')?.dirty ||
      formData.get('imageUrl')?.touched)) {
      @if (formData.get('imageUrl')?.errors?.['required']) {
      <small class="field-error">La URL de la imagen es obligatoria</small>
      }
      @if (formData.get('imageUrl')?.errors?.['pattern']) {
      <small class="field-error">Por favor ingresa una URL válida</small>
      }
      }
    </div>




    <div class="field">
      <label class="field-label" for="youtubeUrl">URL de YouTube</label>
      <input class="field-input" type="text" id="youtubeUrl" formControlName="youtubeUrl"
        placeholder="Ej: https://www.youtube.com/watch?v=...">
      @if (formData.get('youtubeUrl')?.invalid && (formData.get('youtubeUrl')?.dirty ||
      formData.get('youtubeUrl')?.touched)) {
      @if (formData.get('youtubeUrl')?.errors?.['required']) {
      <small class="field-error">La URL de YouTube es obligatoria</small>
      }
      @if (formData.get('youtubeUrl')?.errors?.['pattern']) {
      <small class="field-error">Por favor ingresa una URL válida de YouTube</small>
      }
      }
    </div>



    <div class="field field-checkbox">
      <label class="field-label">
        <input type="checkbox" formControlName="isActive">
        <span>Activo</span>
      </label>
    </div>





    <button class="btn-submit" type="submit" [disabled]="formData.invalid">
      GUARDAR MÚSICA →
    </button>
  </form>
</div>

@if (showModal) {
<div class="modal-overlay">
  <div class="modal-content">
    <h3 [style.color]="isSuccess ? '#a3e635' : '#ff4444'">
      {{ isSuccess ? '¡ÉXITO!' : '¡ERROR!' }}
    </h3>
    <p>{{ modalMessage }}</p>
    <button class="btn-submit modal-btn" (click)="closeModal()">CONTINUAR</button>
  </div>
</div>
}