<footer>
    <div class="FooterSam">
        <p> S.A.M. </p>
        <h2> Sociedad Anónima de Música </h2>
        <h2> COLOMBIA UNDERGROUND · 2026 </h2>
    </div>
    <div class="FooterMenu">
        <div>
            <h3> PLATAFORMA</h3>
            <li>
                <ol> Eventos</ol>
                <ol>Mapa</ol>
                <ol>Tickets</ol>
                <ol>Cómo funciona</ol>
            </li>
        </div>
        <div>
                        <h3> ÚNETE</h3>
            <li>
                <ol> Crear evento</ol>
                <ol>Líquidez 24/7</ol>
                <ol>Comisiones</ol>
                <ol>Soporte</ol>
            </li>
        </div>
        <div></div>
        <div></div>
    </div>
    <div class="FooterMediosPago">

    </div>
    <div class="FooterCopy">

    </div>

</footer>